<div class="container-fluid p-10">
  <div
    class="col-6 form-wrapper p-5 mt-4 mb-4 rounded border border-white bg-light text-dark"
  >
    <form [formGroup]="verifyForm" novalidate *ngIf="isFormView">
      <h4>Verification Form</h4>
      <hr />
      <div class="mb-4">
        <label class="form-label">City *</label>
        <input
          type="text"
          class="form-control"
          formControlName="city"
          [ngClass]="{
            'border border-danger': verifyForm.get('city')?.errors
          }"
        />
        <div
          class="form-text text-danger"
          *ngIf="
            verifyForm.get('city')?.errors &&
            verifyForm.get('city')?.hasError('required')
          "
        >
          City is required.
        </div>
      </div>
      <div class="mb-4">
        <label class="form-label">Pan Number *</label>
        <input
          type="text"
          class="form-control"
          formControlName="panNumber"
          [ngClass]="{
            'border border-danger': verifyForm.get('panNumber')?.errors
          }"
        />
        <div
          class="form-text text-danger"
          *ngIf="verifyForm.get('panNumber')?.errors"
        >
          <div *ngIf="verifyForm.get('panNumber')?.hasError('required')">
            Pan Number is required
          </div>
          <div *ngIf="verifyForm.get('panNumber')?.hasError('maxlength')">
            Invalid pan number, maxlength should be 10.
          </div>
          <div *ngIf="verifyForm.get('panNumber')?.hasError('pattern')">
            Invalid pan number, format should be indian pancard number
          </div>
        </div>
      </div>
      <div class="mb-4">
        <label class="form-label">Full Name *</label>
        <input
          type="text"
          class="form-control"
          formControlName="fullName"
          [ngClass]="{
            'border border-danger': verifyForm.get('fullName')?.errors
          }"
        />
        <div
          class="form-text text-danger"
          *ngIf="verifyForm.get('fullName')?.errors"
        >
          <div *ngIf="verifyForm.get('fullName')?.hasError('required')">
            Fullname is required
          </div>
          <div *ngIf="verifyForm.get('fullName')?.hasError('maxlength')">
            Invalid fullname, max length should be 140
          </div>
        </div>
      </div>
      <div class="mb-4">
        <label class="form-label">Email *</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          [ngClass]="{
            'border border-danger': verifyForm.get('fullName')?.errors
          }"
        />
        <div
          class="form-text text-danger"
          *ngIf="verifyForm.get('email')?.errors"
        >
          <div *ngIf="verifyForm.get('email')?.hasError('required')">
            Email is required.
          </div>
          <div *ngIf="verifyForm.get('email')?.hasError('maxlength')">
            Invalid Email, maxlenth of email should be 255
          </div>
          <div *ngIf="verifyForm.get('email')?.hasError('email')">
            Invalid Email, enter valid email
          </div>
        </div>
      </div>
      <div class="mb-4">
        <label class="form-label">Mobile *</label>
        <div
          class="input-group mb-3"
          [ngClass]="{
            'border border-danger': verifyForm.get('mobile')?.errors
          }"
        >
          <span class="input-group-text">+91</span>
          <input type="text" class="form-control" formControlName="mobile" />
        </div>
        <div
          class="form-text text-danger"
          *ngIf="verifyForm.get('mobile')?.errors"
        >
          <div *ngIf="verifyForm.get('mobile')?.hasError('required')">
            Mobile number is required
          </div>
          <div
            *ngIf="
              verifyForm.get('mobile')?.hasError('minlength') ||
              verifyForm.get('mobile')?.hasError('maxlength')
            "
          >
            Mobile number is 10 digits
          </div>
          <div *ngIf="verifyForm.get('mobile')?.hasError('pattern')">
            Invalid Mobile number
          </div>
        </div>
      </div>
      <div class="mb-4" *ngIf="otpData?.status == 'Success'">
        <label class="form-label">OTP *</label>
        <div class="d-flex justify-content-between">
          <input
            type="text"
            class="form-control mix-form-control_otp"
            formControlName="otp"
          />

          <div
            class="mix-btn-resend_wrapper"
            *ngIf="otpData?.status == 'Success' && resendOtpClkCount <= 3"
          >
            <button
              type="button"
              [disabled]="disabledResendOtp"
              class="btn btn-primary w-100"
              (click)="getOtp(true)"
            >
              Resend OTP
            </button>
          </div>
          <div class="timeText" *ngIf="otpTime">
            <span class="badge bg-warning">{{ otpTime }}</span>
          </div>
        </div>

        <div
          class="form-text text-danger"
          *ngIf="verifyForm.get('otp')?.errors"
        >
          <div *ngIf="verifyForm.get('otp')?.hasError('required')">
            OTP is required
          </div>
          <div *ngIf="verifyForm.get('otp')?.hasError('maxlength')">
            Invalid OTP, maxlength is 4
          </div>
          <div *ngIf="verifyForm.get('otp')?.hasError('pattern')">
            Invalid OTP, only digits are allowed
          </div>
        </div>
      </div>
      <div class="mb-4 alert alert-danger" *ngIf="resendOtpClkCount > 3">
        Please try again after an hour.
      </div>
    </form>
    <div class="mb-4 alert alert-success" *ngIf="!isFormView">
      Thank you for verification {{ verifyForm.value.fullName }}
    </div>
  </div>
</div>
